@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Color Palette */
:root {
  --color1: #0caefe;
  --color2: #000001;
}
body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(255, 255, 255);
  background-image: url(https://media.istockphoto.com/id/1094453686/photo/studio-photography-black.jpg?b=1&s=170667a&w=0&k=20&c=O1hXw_s1zI145x-aHrAFf4NdBzJM0P6CIIRfI7iET2M=);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.5;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  min-height: 12rem;
  font-family: 'Bebas Neue', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color1);
  border-bottom: 5px solid;
  border-image: 
    linear-gradient(
      to right, #00f8f8 -20%, #ffffff 40%, #000000 100%
    ) 0 0 100% 0;
  z-index: 999;
}

nav {
  color: #f2f2f2;
  padding: 1rem;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  border-bottom: 3px solid #333;
  color: #333;
  font-size: 2rem;
  text-transform:uppercase;
  line-height: 20px;
  transition: font-size 0.2s;
}

nav a:hover {
    font-size: 3rem;
}

h1{
    font-size: 3rem;
    background-color: #333;
    padding: 20px 15px 20px 50px;
}

.hero-banner {
  margin-top: 12rem;
  background-image: url(https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/page/campaign/creators/creators_xps_precision_landing_page_banner_desktop_3.jpg?fmt=jpg&wid=2792&hei=839);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 30rem;
  color: var(--light);
  padding: 2% 6%;
  display: flex;
  text-align: left;
}

/* Page Sections */

.page-section {
	display: flex;
	flex-direction: row;
}

.page-section h2 {
	width: 30%;
	text-align: right;
	padding: 5px;
	border-right: 2px solid #000;
}

.page-section div {
	width: 70%;
	padding: 20px;
}

/* Page Sections END */

/* Work Tab Designs */
.flex-item {
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }

.css-tab-design {
  background-image: url(./images/unknown.png);
  background-size: contain;
  width: 60rem;
  height: 60rem;
  resize: both;
  background-repeat: no-repeat;
}
/* Work Tab design END*/

/* footer */
footer {
    padding-top: 15px;
    width: 100%;
    min-height: 6rem;
    font-family: 'Bebas Neue', cursive;
    background-color: var(--color1);
    border-top: 5px solid #333;
    text-align: center;
}

footer h2, footer div {
  margin: 0 auto;
}

.links a { 
    margin-right: 25px;
    text-decoration: none;
    border-bottom: 3px solid #333;
    color: #333;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 20px;
    transition: font-size 0.2s;
  }

.links a:hover {
    font-size: 1.5rem;
}
/* footer end */